.lp-container {
  height: 100vh;
  padding: 6rem 7rem;
  box-sizing: border-box;
}
/* MIX */

.btn-register,
.btn-register:hover,
.modal-content {
  background: #0b0b0b;
  color: #b7b7b7;
}

/* button */
.btn-login,
.btn-submit {
  background: linear-gradient(to right, #4dd4f7, #9090fb, #ff6b81, #fbdf63);
  border: none;
}

.btn-submit {
  width: 100%;
}

/* layout */
/* Column 1------------ */
.logo-dumbgram {
  margin-bottom: 20rem;
}
.img1-logo-dumbgram {
  margin-left: 1rem;
}

h1 {
  font-weight: 800;
}
p {
  color: #6a6a6a;
}
/* Column 2-------------- */
.lp-images {
  flex: 2;
  background-color: crimson;
}

/* Modal */
#contained-modal-title-vcenter {
  color: #fff;
}
.form-text {
  text-align: center;
}
.input-field,
.input-field:focus {
  background-color: rgba(210, 210, 210, 0.5);
  color: #fff;
  outline: none;
  border: 1px solid #fff;
  box-shadow: none;
}

/* Images */
