#root {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 1rem "Montserrat", sans-serif;
  background: #0b0b0b;
  color: #fff;
  font-weight: 400;
}

.general-container {
  height: 100vh;
  box-sizing: border-box;
}

/* btn setting */
.btn {
  width: 6.5rem;
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-weight: 800;
  color: #fff;
}

.btn:focus {
  box-shadow: none;
  outline: none;
}

.btn-primary:focus {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:hover,
.btn-link-basic,
.btn-link-basic:hover {
  background-color: transparent;
  box-shadow: none;
  border: none;
  color: #fff;
}

.gradient-btn {
  background: linear-gradient(to right, #4dd4f7, #9090fb, #ff6b81, #fbdf63);
  font-weight: 800;
  text-decoration: none;
  color: #fff;
}

.gradient-btn:hover {
  color: #fff;
}

/* Form input */
.form-control {
  background-color: rgba(180, 180, 180, 0.2);
  border: 2px solid rgb(161, 161, 161);
  outline: none;
  color: #fff;
  height: 50px;
  justify-content: center;
  margin-top: 0.4rem;
  margin-bottom: 1.5rem;
}
.form-control:focus {
  background: rgba(180, 180, 180, 0.2);
  box-shadow: none;
  outline: none;
  color: #fff;
}

::-webkit-scrollbar {
  width: 0px;
}

.text-pointer {
  cursor: pointer;
}
